name: Create Release

on: 
  workflow_dispatch:
  push:
    tags:
      - Release
    paths-ignore:
      - '.github/**'
      - '.Docs/**'

permissions:
  contents: write # Grant write permission for creating releases
#  actions: write # Grant write permission to delete old workflow runs

jobs:
  make_release:
    if: github.event.base_ref == 'refs/heads/master' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
   
    - id: create-zip
      name: Create Zip
      run: |
        mkdir Zipped
        cd Mods/
        zip -rlq ../Zipped/0_All_Mods.zip ./*
        find * -maxdepth 0 -type d -exec zip -rlq "../Zipped/{}.zip" "{}" \;

    - name: Delete old releases
      uses: dev-drprasad/delete-older-releases@v0.3.4
      with:
        keep_latest: 0
        delete_tag_pattern: AllModsRelease*
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Create GitHub release
      id: create_release
      uses: actions/create-release@v1.1.4
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        tag_name: "AllModsRelease"
        release_name: "Local Mod Download"
        body_path: ".github/Release.md"
        draft: false
        prerelease: false

    - name: Upload files to github release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ github.token }}
        file: Zipped/*.*
        file_glob: true
        tag: "AllModsRelease"
        prerelease: false
        overwrite: true
      env:
        GITHUB_TOKEN: ${{ github.token }}

    # - name: Delete workflow runs
    #   uses: Mattraks/delete-workflow-runs@v2
    #   with:
    #     token: ${{ github.token }}
    #     repository: ${{ github.repository }}
    #     retain_days: 1
    #     keep_minimum_runs: 3
