name: Create Release

on: workflow_dispatch

permissions:
  contents: write # Grant write permission for creating releases

jobs:
  make_release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
   
    - id: create-zip
      name: Create Zip
      run: |
        mkdir Zipped
        cd Mods/
        zip -rlq ../Zipped/0_All_Mods.zip ./*
        find * -maxdepth 0 -type d -exec zip -rlq "../Zipped/{}.zip" "{}" \;

    - name: Delete old releases
      uses: dev-drprasad/delete-older-releases@v0.3.4
      with:
        keep_latest: 0
        delete_tag_pattern: AllModsRelease*
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Create GitHub release
      id: create_release
      uses: actions/create-release@v1.1.4
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        tag_name: "AllModsRelease"
        release_name: "Local Mod Download"
        body_path: ".github/Release.md"
        draft: false
        prerelease: false

    - name: Upload files to github release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ github.token }}
        file: Zipped/*.*
        file_glob: true
        tag: "AllModsRelease"
        prerelease: false
        overwrite: true
      env:
        GITHUB_TOKEN: ${{ github.token }}
